@page "/movie-detail"
@using BetaCinema.ServerUI.Features.MovieShowtimes
@inherits MovieDetailBase

<div class="detail-container">
    <MudText Class="my-6">
        <p class="movie-title-wrapper">Trang chủ > <span class="movie-title">@MovieData.MovieName</span></p>
    </MudText>

    <MudCard Elevation="0" Class="d-flex gap-8" Style="@($"background-color:{Colors.Grey.Lighten4}")">
        <MudImage Src="@($"/assets/images/posters/{MovieData.Poster}")" Fluid="true" Style="border-radius: 20px;width:23%" />

        <MudCardContent Class="p-0 flex-1 d-flex flex-column gap-3">
            <p class="title">@MovieData.MovieName</p>

            <p class="description">@MovieData.Description</p>

            <div class="detail-infos">
                <p class="info">
                    <b class="info-title">
                        @($"{MovieResources.Director}:")
                    </b>
                    @MovieData.Director
                </p>

                <p class="info">
                    <b class="info-title">
                        @($"{MovieResources.Actor}:")
                    </b>
                    @MovieData.Actor
                </p>

                <p class="info">
                    <b class="info-title">
                        @($"{MovieResources.Category}:")
                    </b>
                    @string.Join(", ", MovieData.MovieCategories.Select(mc => mc.Category.CategoryName))
                </p>

                <p class="info">
                    <b class="info-title">
                        @($"{MovieResources.Duration}:")
                    </b>
                    @($"{MovieData.Duration} phút")
                </p>

                <p class="info">
                    <b class="info-title">Ngày khởi chiếu: </b>
                    @(MovieData.ReleaseDate.HasValue ? MovieData.ReleaseDate.Value.ToString("dd/MM/yyyy") : "")
                </p>
            </div>
        </MudCardContent>
    </MudCard>

    <div class="pt-4">
        <MovieShowtimesNavbar MovieData="@MovieData" />
    </div>
</div>