@inherits MovieItemBase

<MudCard Elevation="0" Style="@($"background-color:{Colors.Grey.Lighten4}")">
    <MudImage Src="@($"/assets/images/posters/{MovieData.Poster}")" Fluid="true" Style="border-radius: 20px" />
    <MudCardContent Class="p-0 mb-6">
        <MudLink Href="@uri" Class="d-block mt-2 mb-2">
            <div class="movie-title">@MovieData.MovieName</div>
        </MudLink>

        <MudText>
            <span class="info">
                <b class="info-title">@($"{CategoryResources.CategoryName}:")</b>
                @(string.Join(", ", MovieData.MovieCategories.Select(mc => mc.Category.CategoryName)))
            </span>
        </MudText>

        <MudText>
            <span class="info">
                <b class="info-title">@($"{MovieResources.Duration}:")</b>
                @($"{MovieData.Duration} phút")
            </span>
        </MudText>

        @if (MovieData.ReleaseDate.Value.Date > DateTime.Now.Date)
        {
            <MudText>
                <span class="info">
                    <b class="info-title">@($"{MovieResources.ReleaseDate}:")</b>
                    <span class="info-time">@MovieData.ReleaseDate.Value.ToString("dd/MM/yyyy")</span>
                </span>
            </MudText>
        }
    </MudCardContent>

    @if (MovieData.ReleaseDate.Value.Date <= DateTime.Now.Date)
    {
        <MudCardActions Class="p-0">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth OnClick="ShowDialogShowtime">
                 <span class="booking-button">Mua vé</span>
             </MudButton>
         </MudCardActions>
    }
</MudCard>
