@page "/admin/slides"
@layout AdminLayout
@inherits TableBase

<AuthorizeView Roles="Admin">
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
    <Authorized>
        <MudPaper Elevation="0">
            <MudPaper Elevation="0" Class="d-flex gap-4 justify-space-between align-items-center admin-table-title admin-table-title">
                <h3 class="mb-0">@string.Format(SharedResources.TableTitle, "slides")</h3>
                <div class="form-group d-flex gap-2">
                    <MudFileUpload T="IReadOnlyList<IBrowserFile>" Accept=".png, .jpg" FilesChanged="UploadFiles"
                                   Context="uploadContext" Class="mt-0">
                        <ButtonTemplate>
                            <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary" for="@uploadContext.Id">
                                @SharedResources.Upload
                                <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Image" Class="ml-2" />
                            </MudButton>
                        </ButtonTemplate>
                    </MudFileUpload>
                </div>
            </MudPaper>
        </MudPaper>

        <br>

        @if (slideNames == null)
        {
            <text>@SharedResources.Loading</text>
        }
        else if (slideNames.Count == 0)
        {
            <text>No Slides Found.</text>
        }
        else
        {
            <MudDataGrid Items="@slideNames" Elevation="0" Filterable="false" SortMode="@SortMode.None"
                         Groupable="false" FixedHeader="true" Class="admin-table">
                <Columns >
                    <TemplateColumn Title="Slide">
                        <CellTemplate Context="tableContext">
                            <MudImage Src="@($"/assets/images/slides/{tableContext.Item}")" Width="400" />
                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn Title="@SharedResources.OptionsColumnTitle">
                        <CellTemplate Context="tableContext">
                            <MudStack Row>
                             <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Error"
                                        OnClick="@(() => Delete(tableContext.Item))">
                                 @SharedResources.Delete
                             </MudButton>
                         </MudStack>
                     </CellTemplate>
                 </TemplateColumn>
             </Columns>
         </MudDataGrid>
        }
    </Authorized>
</AuthorizeView>