@page "/admin/slides"
@layout AdminLayout
@inherits TableBase

<AuthorizeView Roles="Admin">
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
    <Authorized>
        <MudPaper Elevation="0">
            <MudPaper Elevation="0" Class="d-flex gap-4 justify-space-between align-items-center admin-table-title admin-table-title">
                <h4 class="mb-0">@string.Format(SharedResources.TableTitle, "Slides")</h4>
                <div class="form-group d-flex gap-2">
                    <MudFileUpload T="IReadOnlyList<IBrowserFile>" Accept=".png, .jpg" FilesChanged="UploadFiles"
                                   Context="uploadContext" Class="mt-0">
                        <ButtonTemplate>
                            <MudButton Size="Size.Small" HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary" for="@uploadContext.Id">
                                @SharedResources.Upload
                                <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Image" Class="ml-2" />
                            </MudButton>
                        </ButtonTemplate>
                    </MudFileUpload>
                </div>
            </MudPaper>
        </MudPaper>

        <br>

        @if (slideNames == null)
        {
            <text>@SharedResources.Loading</text>
        }
        else if (slideNames.Count == 0)
        {
            <text>No Slides Found.</text>
        }
        else
        {
            <MudCarousel ShowArrows="false" AutoCycle="false" EnableSwipeGesture ShowBullets="true" TData="object"
                          Class="mud-width-full rounded-lg" Style="height:453px">
                 @foreach (var slideName in slideNames)
                {
                    <MudCarouselItem Class="mud-width-full" Transition="Transition.Slide" Color="@Color.Transparent">
                        <div class="d-flex justify-content-center" style="height:453px">
                            <MudImage Src="@($"/assets/images/slides/{slideName}")" />
                            <div class="position-absolute" style="top:12px;right:12px">
                                <MudIconButton Size="@Size.Medium" Variant="@Variant.Filled" Color="@Color.Error"
                                               Icon="@Icons.Material.Filled.Delete" Class="rounded-circle"
                                               OnClick="@(() => Delete(slideName))">
                                </MudIconButton>
                            </div>
                        </div>
                    </MudCarouselItem>
                }
            </MudCarousel>
        }
    </Authorized>
</AuthorizeView>