@page "/admin/slides"
@layout AdminLayout
@inherits TableBase

<AuthorizeView Roles="Admin">
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
    <Authorized>
        <MudPaper Elevation="0">
            <MudPaper Elevation="0" Class="d-flex gap-4 justify-space-between align-items-center admin-table-title admin-table-title">
                <h4 class="mb-0">@string.Format(SharedResources.TableTitle, "slides")</h4>
                <div class="form-group d-flex gap-2">
                    <MudFileUpload T="IReadOnlyList<IBrowserFile>" Accept=".png, .jpg" FilesChanged="UploadFiles"
                                   Context="uploadContext" Class="mt-0">
                        <ButtonTemplate>
                            <MudButton Size="Size.Small" HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary" for="@uploadContext.Id">
                                @SharedResources.Upload
                                <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Image" Class="ml-2" />
                            </MudButton>
                        </ButtonTemplate>
                    </MudFileUpload>
                </div>
            </MudPaper>
        </MudPaper>

        <br>

        @if (slideNames == null)
        {
            <text>@SharedResources.Loading</text>
        }
        else if (slideNames.Count == 0)
        {
            <text>No Slides Found.</text>
        }
        else
        {
            <MudTable Items="@slideNames" Elevation="0" Dense Hover FixedHeader
                       Class="admin-table" Context="tableContext">
                 <HeaderContent>
                     <MudTh>Slide</MudTh>
                     <MudTh>@SharedResources.OptionsColumnTitle</MudTh>
                 </HeaderContent>

                 <RowTemplate>
                     <MudTd>
                         <MudImage Src="@($"/assets/images/slides/{tableContext}")" Width="400" />
                     </MudTd>
                     <MudTd>
                         <MudStack Row Spacing="2">
                             <MudIconButton Size="@Size.Small" Variant="@Variant.Text" Color="@Color.Error"
                                            Icon="@Icons.Material.Filled.Delete" Class="rounded-circle"
                                            OnClick="@(() => Delete(tableContext))">
                             </MudIconButton>
                         </MudStack>
                     </MudTd>
                 </RowTemplate>
         </MudTable>
        }
    </Authorized>
</AuthorizeView>