@page "/admin/movies/create"
@layout AdminLayout
@inherits CreateBase

<AuthorizeView Roles="Admin">
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
    <Authorized>
        <h3 class="mb-8">@string.Format(SharedResources.CreateTitle, MovieResources.Movie)</h3>

        <EditForm Model="@MovieData" OnValidSubmit="@CreateMovie" Context="formContext">
            <DataAnnotationsValidator />

            <MudCard Elevation="0" Class="d-flex px-6 py-5 gap-3">
                <MudCardContent Class="d-flex flex-column align-items-center gap-3">
                    <MudImage ObjectFit="ObjectFit.Cover" Src="@($"/assets/images/posters/{MovieData.Poster}")"
                              Width="228" Height="360" Class="rounded" />

                    <MudFileUpload T="IBrowserFile" Accept=".png, .jpg" FilesChanged="UploadPoster"
                                   Context="uploadContext" Class="mt-0">
                        <ButtonTemplate>
                            <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary"
                                       for="@uploadContext.Id">
                                @SharedResources.Upload
                                <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Image" Class="ml-2" />
                            </MudButton>
                        </ButtonTemplate>
                    </MudFileUpload>
                </MudCardContent>

                <MudCardContent Class="flex-1 d-flex flex-column gap-3 justify-start">
                    <MudTextField @bind-Value="@MovieData.MovieName"
                                  Variant="Variant.Outlined" Margin="Margin.Dense"
                                  Label="@MovieResources.MovieName" Required Class="justify-end">
                     </MudTextField>

                     <MudSelect T="string" @bind-Value="categoriesValue" @bind-SelectedValues="categoryOptions"
                                Variant="Variant.Outlined" Margin="Margin.Dense"
                                Label="@MovieResources.Category" MultiSelection="true"
                                AnchorOrigin="Origin.BottomCenter">
                         @foreach (var category in CategoryList)
                        {
                            <MudSelectItem T="string" Value="@category.CategoryName">@category.CategoryName</MudSelectItem>
                        }
                    </MudSelect>

                    <MudStack Row>
                        <MudNumericField @bind-Value="@MovieData.Duration" HideSpinButtons="true" Min="0"
                                         Variant="Variant.Outlined" Margin="Margin.Dense"
                                         Label="@($"{MovieResources.Duration} (phút)")" Class="flex-1" />

                        <MudDatePicker @bind-Date="@MovieData.ReleaseDate"
                                       Variant="Variant.Outlined" Margin="Margin.Dense"
                                       MinDate="DateTime.Now" DisableToolbar="true"
                                       Label="@MovieResources.ReleaseDate" Class="flex-1" />
                    </MudStack>

                    <MudStack Row>
                        <MudTextField @bind-Value="@MovieData.Director"
                                      Variant="Variant.Outlined" Margin="Margin.Dense"
                                      Label="@MovieResources.Director" Class="flex-1">
                        </MudTextField>
                        <MudTextField @bind-Value="@MovieData.Actor"
                                      Variant="Variant.Outlined" Margin="Margin.Dense"
                                      Label="@MovieResources.Actor" Class="flex-1">
                        </MudTextField>
                    </MudStack>

                    <MudTextField @bind-Value="@MovieData.Description"
                                  Variant="Variant.Outlined" Margin="Margin.Dense"
                                  Label="@MovieResources.Description" AutoGrow Lines="4" MaxLines="10">
                     </MudTextField>
                     <MudCardActions Class="p-0">
                         <MudButton ButtonType="ButtonType.Submit"
                                    Variant="Variant.Filled"
                                    Color="Color.Primary"
                                    Class="ml-auto">
                             @SharedResources.Create
                         </MudButton>
                     </MudCardActions>
                 </MudCardContent>
             </MudCard>
         </EditForm>
     </Authorized>
 </AuthorizeView>
