@page "/admin/movies"
@using BetaCinema.Domain.Models;
@layout AdminLayout
@inherits TableBase

<AuthorizeView Roles="Admin">
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
    <Authorized>
        <MudPaper Elevation="0">
            <MudPaper Elevation="0" Class="d-flex gap-4 justify-space-between align-items-center admin-table-title">
                <h4 class="mb-0">@string.Format(SharedResources.TableTitle, MovieResources.Movie)</h4>
                <div class="form-group d-flex gap-2">
                    <MudButton Size="Size.Small" Variant="@Variant.Filled" Color="@Color.Primary"
                               OnClick="@(()=> Navigation.NavigateTo("admin/movies/create"))">
                        @SharedResources.Create
                        <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Add" Class="ml-1" />
                    </MudButton>
                    <MudButton Size="Size.Small" Variant="@Variant.Filled" Color="@Color.Primary"
                               OnClick="@DownloadExcelFile">
                        @SharedResources.ExportExcel
                        <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.CloudDownload" Class="ml-2" />
                    </MudButton>

                    <MudFileUpload T="IBrowserFile" Accept=".xlsx" FilesChanged="UploadFiles"
                                   Context="uploadContext" Class="mt-0">
                        <ButtonTemplate>
                            <MudButton Size="Size.Small" HtmlTag="label" Variant="Variant.Filled"
                                       Color="Color.Primary" for="@uploadContext.Id">
                                @SharedResources.ImportExcel
                                <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.CloudUpload" Class="ml-2" />
                            </MudButton>
                        </ButtonTemplate>
                    </MudFileUpload>
                </div>
            </MudPaper>
        </MudPaper>

        <br>

        @if (movies == null)
        {
            <text>@SharedResources.Loading</text>
        }
        else if (movies.Count == 0)
        {
            <text>@SharedResources.NoRecord</text>
        }
        else
        {
            <MudTable Items="@movies" Elevation="0" Dense Hover FixedHeader Filter="@_quickFilter"
                       MultiSelection="true" @bind-SelectedItems="selectedItems"
                       Class="admin-table toolbar" Context="tableContext">
                 <ToolBarContent>
                     @if (selectedItems.Count >= 2)
                    {
                        <div class="mr-6 font-14">
                            <span>Đã chọn: </span>
                            <b>@selectedItems.Count</b>
                        </div>

                        <MudButton Size="Size.Small" Variant="@Variant.Filled" Color="@Color.Error"
                                   OnClick="@DeleteMultiple" Class="multiple-delete-btn">
                            <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Delete" Class="mr-1" />
                            <span class="font-14">@SharedResources.MultipleDelete</span>
                        </MudButton>
                    }

                    <MudSpacer />
                    <MudTextField @bind-Value="_searchString" Variant="Variant.Outlined" Margin="Margin.Dense" Immediate
                                   Placeholder="@SharedResources.Search" Adornment="Adornment.Start"
                                   AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0">
                     </MudTextField>
                 </ToolBarContent>

                 <ColGroup>
                     <col style="width:2%;" />
                     <col style="width:25%;" />
                     <col />
                     <col />
                     <col />
                     <col />
                     <col style="width: 10%;" />
                 </ColGroup>

                 <HeaderContent>
                     <MudTh>
                         <MudTableSortLabel SortBy="new Func<Movie, object>(x=>x.MovieName)">
                             @MovieResources.MovieName
                         </MudTableSortLabel>
                     </MudTh>
                     <MudTh>@CategoryResources.CategoryName</MudTh>
                     <MudTh>
                         <MudTableSortLabel SortBy="new Func<Movie, object>(x=>x.Duration)">
                             @MovieResources.Duration
                         </MudTableSortLabel>
                     </MudTh>
                     <MudTh>
                         <MudTableSortLabel SortBy="new Func<Movie, object>(x=>x.ReleaseDate)">
                             @MovieResources.ReleaseDate
                         </MudTableSortLabel>
                     </MudTh>
                     <MudTh>@MovieResources.Director</MudTh>
                     <MudTh>@SharedResources.OptionsColumnTitle</MudTh>
                 </HeaderContent>

                 <RowTemplate>
                     <MudTd>@tableContext.MovieName</MudTd>
                     <MudTd>@(string.Join(", ", tableContext.MovieCategories.Select(mc => mc.Category.CategoryName)))</MudTd>
                        <MudTd>@(string.Format("{0} phút", tableContext.Duration))</MudTd>
                        <MudTd>@tableContext.ReleaseDate.Value.ToString("dd/MM/yyyy")</MudTd>
                        <MudTd>@tableContext.Director</MudTd>
                        <MudTd>
                            <MudStack Row Spacing="2">
                             <MudIconButton Size="@Size.Small" Variant="@Variant.Text" Color="@Color.Primary"
                                            Icon="@Icons.Material.Filled.Edit" Class="rounded-circle"
                                            OnClick="@(()=>Navigation.NavigateTo($"admin/movies/edit/{tableContext.Id}"))">
                             </MudIconButton>
                             <MudIconButton Size="@Size.Small" Variant="@Variant.Text" Color="@Color.Error"
                                            Icon="@Icons.Material.Filled.Delete" Class="rounded-circle"
                                            OnClick="@(() => Delete(tableContext.Id))">
                             </MudIconButton>
                         </MudStack>
                     </MudTd>
                 </RowTemplate>

                 <PagerContent>
                     <MudTablePager RowsPerPageString="Số bản ghi mỗi trang"
                                    PageSizeOptions="new int[] { 20, 30, 50, 80, 100 }" />
                 </PagerContent>
             </MudTable>
        }
    </Authorized>
</AuthorizeView>