@page "/movies"
@inherits TableBase

<AuthorizeView Roles="Admin">
    <NotAuthorized>
        <MudText>You need to authorize</MudText>
    </NotAuthorized>
    <Authorized>
        <MudPaper Elevation="0">
            <MudPaper Elevation="0" Class="d-flex gap-4 justify-space-between align-items-center">
                <h3 class="mb-0">Movies</h3>
                <div class="form-group d-flex gap-2">
                    <MudButton Variant="@Variant.Filled"
                               Color="@Color.Primary"
                               OnClick="@NavigateToCreateForm">
                        <MudText>Create</MudText>
                        <MudIcon Size="Size.Medium" Icon="@Icons.Material.Filled.Add" />
                    </MudButton>
                    <MudButton Variant="@Variant.Filled"
                               Color="@Color.Primary"
                               OnClick="@DownloadExcelFile">
                        <MudText>Export</MudText>
                        <MudIcon Size="Size.Medium" Icon="@Icons.Material.Filled.CloudDownload" Class="ml-2" />
                    </MudButton>

                    <MudFileUpload T="IBrowserFile"
                                   Accept=".xlsx"
                                   FilesChanged="UploadFiles"
                                   Context="uploadContext"
                                   Class="mt-0">
                        <ButtonTemplate>
                            <MudButton HtmlTag="label"
                                       Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       EndIcon="@Icons.Material.Filled.CloudUpload"
                                       for="@uploadContext.Id">
                                <MudText>Import</MudText>
                            </MudButton>
                        </ButtonTemplate>
                    </MudFileUpload>
                </div>
            </MudPaper>
        </MudPaper>

        <br>

        @if (movies == null)
        {
            <text>Loading...</text>
        }
        else if (movies.Count == 0)
        {
            <text>No Records Found.</text>
        }
        else
        {
            <MudDataGrid Items="@movies" Elevation="0" Filterable="false" SortMode="@SortMode.None" Groupable="false">
                <Columns>
                    <PropertyColumn Property="x => x.Id" />
                    <PropertyColumn Property="x => x.MovieName" />
                    <PropertyColumn Property="x => x.Poster" />
                    <PropertyColumn Property="x => x.Duration" />
                    <PropertyColumn Property="x => x.ReleaseDate" />
                    <PropertyColumn Property="x => x.Director" />
                    <PropertyColumn Property="x => x.Actor" />
                    <PropertyColumn Property="x => x.Description" />
                    <TemplateColumn CellClass="justify-end">
                        <CellTemplate Context="tableContext">
                            <MudStack Row>
                             <MudButton Size="@Size.Small"
                                        Variant="@Variant.Filled"
                                        Color="@Color.Primary"
                                        OnClick="@(()=>Navigation.NavigateTo($"movies/edit/{tableContext.Item.Id}"))">
                                 Edit
                             </MudButton>
                             <MudButton Size="@Size.Small"
                                        Variant="@Variant.Filled"
                                        Color="@Color.Error"
                                        OnClick="@(() => Delete(tableContext.Item.Id))">
                                 Delete
                             </MudButton>
                         </MudStack>
                     </CellTemplate>
                 </TemplateColumn>
             </Columns>
         </MudDataGrid>
        }
    </Authorized>
</AuthorizeView>