@page "/movies/edit/{MovieId}"
@using BetaCinema.Domain.Enums;
@inherits UpdateBase

<h3 class="mb-8">Sửa thông tin phim</h3>

<EditForm Model="@MovieData" OnValidSubmit="@SaveChanges">
    <DataAnnotationsValidator />
    <MudGrid xs="12">
        <MudContainer MaxWidth="MaxWidth.Medium">
            <MudCard Class="p-4">
                <MudCardContent Class="p-0 mb-4 d-flex flex-column gap-2">
                    <MudTextField @bind-Value="@MovieData.MovieName"
                                  Label="MovieName"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense">
                    </MudTextField>
                    <MudTextField @bind-Value="@MovieData.Poster"
                                  Label="Poster"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense">
                    </MudTextField>
                    <MudTextField @bind-Value="@MovieData.Duration"
                                  Label="Duration"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense">
                    </MudTextField>
                    <MudDatePicker @bind-Value="@MovieData.ReleaseDate"
                                   Label="ReleaseDate"
                                   DisableToolbar="true"
                                   Variant="Variant.Outlined"
                                   Margin="Margin.Dense" />
                    <MudTextField @bind-Value="@MovieData.Director"
                                  Label="Director"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense">
                    </MudTextField>
                    <MudTextField @bind-Value="@MovieData.Actor"
                                  Label="Actor"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense">
                    </MudTextField>
                    <MudTextField @bind-Value="@MovieData.Description"
                                  Label="Description"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense">
                    </MudTextField>
                </MudCardContent>
                <MudCardActions Class="p-0">
                    <MudButton ButtonType="ButtonType.Submit"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               Class="ml-auto">
                        Lưu
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </MudContainer>
    </MudGrid>
</EditForm>
