<Fluxor.Blazor.Web.StoreInitializer />
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

<MudThemeProvider Theme="customTheme" />
<MudSnackbarProvider />
<MudDialogProvider FullWidth="true" MaxWidth="MaxWidth.ExtraSmall" />

@code {
    MudTheme customTheme = new MudTheme()
    {
        Palette = new PaletteLight()
        {
                Primary = "#03599d"
        }
    };
}
