@using BetaCinema.Domain.Enums;
@page "/admin/categories/edit/{CategoryId}"
@layout AdminLayout
@inherits UpdateBase

<AuthorizeView Roles="Admin">
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
    <Authorized>
        <h3 class="mb-8">@string.Format(SharedResources.UpdateTitle, "thể loại")</h3>

        <EditForm Model="@CategoryData" OnValidSubmit="@SaveChanges" Context="formContext">
            <DataAnnotationsValidator />
            <MudGrid xs="12">
                <MudContainer MaxWidth="MaxWidth.Medium">
                    <MudCard Class="p-4">
                        <MudCardContent Class="p-0 mb-4 d-flex flex-column gap-2">
                            <MudTextField @bind-Value="@CategoryData.CategoryName"
                                          Label="@CategoryResources.CategoryName"
                                          Variant="Variant.Outlined"
                                          Margin="Margin.Dense">
                            </MudTextField>
                        </MudCardContent>
                        <MudCardActions Class="p-0">
                            <MudButton ButtonType="ButtonType.Submit"
                                       Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Class="ml-auto">
                                @SharedResources.Update
                            </MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudContainer>
            </MudGrid>
        </EditForm>
    </Authorized>
</AuthorizeView>