@page "/admin/reservations"
@using BetaCinema.Domain.Models;
@layout AdminLayout
@inherits TableBase

<AuthorizeView Roles="Admin">
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
    <Authorized>
        <MudPaper Elevation="0">
            <MudPaper Elevation="0" Class="d-flex gap-4 justify-space-between align-items-center admin-table-title">
                <h4 class="mb-0">@string.Format(SharedResources.TableTitle, "đặt chỗ")</h4>

                <div class="form-group d-flex gap-2">
                    <MudButton Size="Size.Small" Variant="@Variant.Filled" Color="@Color.Primary"
                               OnClick="@DownloadExcelFile">
                        @SharedResources.ExportExcel
                        <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.CloudDownload" Class="ml-2" />
                    </MudButton>
                </div>
            </MudPaper>
        </MudPaper>

        <br>

        @if (reservations == null)
        {
            <text>@SharedResources.Loading</text>
        }
        else if (reservations.Count == 0)
        {
            <text>@SharedResources.NoRecord</text>
        }
        else
        {
            <MudTable Items="@reservations" Elevation="0" Dense Hover FixedHeader Filter="@_quickFilter"
                       Class="admin-table toolbar" Context="tableContext">
                 <ToolBarContent>
                     <MudSpacer />
                     <MudTextField @bind-Value="_searchString" Variant="Variant.Outlined" Margin="Margin.Dense" Immediate
                                   Placeholder="@SharedResources.Search" Adornment="Adornment.Start"
                                   AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0">
                     </MudTextField>
                 </ToolBarContent>

                 <ColGroup>
                     <col />
                     <col />
                     <col />
                     <col />
                     <col />
                 </ColGroup>

                 <HeaderContent>
                     <MudTh>@UserResources.UserName</MudTh>
                     <MudTh>@MovieResources.MovieName</MudTh>
                     <MudTh>@CinemaResources.CinemaName</MudTh>
                     <MudTh>@ShowtimeResources.StartTime</MudTh>
                     <MudTh>@SeatResources.Seat</MudTh>
                 </HeaderContent>

                 <RowTemplate>
                     <MudTd>@tableContext.User.UserName</MudTd>
                     <MudTd>@tableContext.Showtime.Movie.MovieName</MudTd>
                     <MudTd>@tableContext.Showtime.Cinema.CinemaName</MudTd>
                     <MudTd>@tableContext.Showtime.StartTime.Value.ToString("dd/MM/yyyy HH:mm:ss")</MudTd>
                     <MudTd>@(string.Join(", ",
                         tableContext.ReservationItems.Select(ri => $"{ri.Seat.RowNum}{ri.Seat.SeatNum}")))</MudTd>
                 </RowTemplate>

                 <PagerContent>
                     <MudTablePager RowsPerPageString="Số bản ghi mỗi trang" PageSizeOptions="new int[] { 20, 30, 50, 80, 100 }" />
                 </PagerContent>
             </MudTable>
        }
    </Authorized>
</AuthorizeView>