@using BetaCinema.Domain.Enums;
@page "/admin/showtimes/create"
@layout AdminLayout
@inherits CreateBase

<AuthorizeView Roles="Admin">
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
    <Authorized>
        <h3 class="mb-8">@string.Format(SharedResources.CreateTitle, "giờ chiếu")</h3>

        <EditForm Model="@ShowtimeData" OnValidSubmit="@CreateShowtime" Context="formContext">
            <DataAnnotationsValidator />

            <MudCard Elevation="0" Class="d-flex px-6 py-5 gap-3">
                <MudCardContent Class="flex-1 d-flex flex-column gap-3">
                    <MudSelect T="string" @bind-Value="@ShowtimeData.MovieId"
                               Variant="Variant.Outlined" Margin="Margin.Dense"
                               Label="@MovieResources.MovieName" AnchorOrigin="Origin.BottomCenter" Required>
                        @foreach (var movie in movies)
                        {
                            <MudSelectItem T="string" Value="@movie.Id">@movie.MovieName</MudSelectItem>
                        }
                    </MudSelect>

                    <MudSelect T="string" @bind-Value="@ShowtimeData.CinemaId"
                               Variant="Variant.Outlined" Margin="Margin.Dense"
                               Label="@CinemaResources.CinemaName" AnchorOrigin="Origin.BottomCenter" Required>
                        @foreach (var cinema in cinemas)
                        {
                            <MudSelectItem T="string" Value="@cinema.Id">@cinema.CinemaName</MudSelectItem>
                        }
                    </MudSelect>

                    <MudStack Row>
                        <MudDatePicker @bind-Date="showDate"
                                       Variant="Variant.Outlined" Margin="Margin.Dense"
                                       MinDate="DateTime.Now" DisableToolbar="true"
                                       Label="@ShowtimeResources.ShowDate" Required Class="flex-1" />

                        <MudTimePicker @bind-Time="startTime" Variant="Variant.Outlined" Margin="Margin.Dense"
                                       Label="@ShowtimeResources.StartTime" AnchorOrigin="Origin.BottomLeft" 
                                       Required Class="flex-1" />
                    </MudStack>

                    <MudTextField @bind-Value="@ShowtimeData.TicketPrice"
                                  Variant="Variant.Outlined" Margin="Margin.Dense"
                                  Label="@ShowtimeResources.TicketPrice" Required Class="flex-1">
                    </MudTextField>

                    <MudCardActions Class="p-0">
                        <MudButton ButtonType="ButtonType.Submit"
                                   Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   Class="ml-auto">
                            @SharedResources.Create
                        </MudButton>
                    </MudCardActions>
                </MudCardContent>
            </MudCard>
        </EditForm>
    </Authorized>
</AuthorizeView>
