<table style="width: 100%; max-width: 800px">
    <tbody>
        <tr>
            <td align="center">
                <img src="https://lh3.googleusercontent.com/pw/ABLVV86jT8oVGONVvl2o_5YvyCprQbBRZ3hbKe2Vdc1Axuj-tWafFqLdlSjZGNM-vZUxdYLR4YcUkdA_0E8Ep1U3I79JNOK5JSFYdhjuXd_JKiZYt_RvJXH0VoC7tupo0XFNo-0LN62GTLFM3DCon9TVcqmn=w1378-h153-s-no-gm?authuser=0"
                     style="width: 100%; height: auto" />
            </td>
        </tr>
        <tr>
            <td align="left">
                <h1>Xin chào @Model.UserFullName / Hello @Model.UserFullName</h1>
                <table align="left">
                    <tbody>
                        <tr>
                            <td>Phim (Movie):</td>
                            <th align="left">@Model.MovieName</th>
                        </tr>
                        <tr>
                            <td>Rạp (Theater):</td>
                            <th align="left">@Model.CinemaName</th>
                        </tr>
                        <tr>
                            <td>Thời gian (Session):</td>
                            <th align="left">@Model.StartTime</th>
                        </tr>
                        <tr>
                            <td>Ghế (Seat):</td>
                            <th align="left"><p>@Model.SelectedSeat</p></th>
                        </tr>
                        <tr>
                            <td>Phương thức thanh toán (Payment method):</td>
                            <th align="left">@Model.PaymentMethod</th>
                        </tr>
                        <tr>
                            <td>Thời gian thanh toán (Payment Time):</td>
                            <th align="left">@Model.PaymentTime</th>
                        </tr>
                        <tr>
                            <td>Tổng tiền (Total):</td>
                            <th align="left">@Model.TotalPrice</th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td align="left">
                <p>Lưu ý/Note:</p>
                <p>
                    Vé đã mua không thể hủy, đổi hoặc trả lại. Vui lòng liên hệ Ban Quản
                    Lý rạp hoặc tra cứu thông tin tại mục F.A.Q để biết thêm chi tiết. Cảm
                    ơn bạn đã lựa chọn Beta Cinemas. Chúc bạn xem phim vui vẻ!
                </p>
                <p>
                    Beta Cinemas does not offer refunds or exchanges for successful
                    tickets purchased on our Betacineplex website. If you have any
                    questions or problems with this order, you can Contact Us of see our
                    F.A.Q for more information. Thank you for choosing Beta Cinemas and
                    Enjoy the movie!
                </p>
            </td>
        </tr>
    </tbody>
</table>
