@using BetaCinema.Domain.Enums;
@page "/admin/payments/checkout"
@layout AdminLayout
@inherits CheckoutBase

<h3 class="mb-8">Thanh toán</h3>

<EditForm Model="@PaymentData" OnValidSubmit="@CreatePaymentUrl">
    <DataAnnotationsValidator />
    <MudGrid xs="12">
        <MudContainer MaxWidth="MaxWidth.Medium">
            <MudCard Class="p-4">
                <MudCardContent Class="p-0 mb-4 d-flex flex-column gap-2">
                    <MudTextField @bind-Value="@PaymentData.Id"
                                  Label="Payment Id"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense"
                                  ReadOnly>
                    </MudTextField>
                    <MudTextField @bind-Value="@PaymentData.ReservationId"
                                  Label="Reservation Id"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense">
                    </MudTextField>
                    <MudTextField @bind-Value="@PaymentData.TotalPrice"
                                  Label="Total Price"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense">
                    </MudTextField>
                    <MudTextField Value="@PaymentData.PaymentMethod"
                                  Label="Payment Method"
                                   Variant="Variant.Outlined"
                                   Margin="Margin.Dense" />
                </MudCardContent>
                <MudCardActions Class="p-0">
                    <MudButton ButtonType="ButtonType.Submit"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               Class="ml-auto">
                        Thanh toán
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </MudContainer>
    </MudGrid>
</EditForm>