@page "/admin/payments/result"
@layout AdminLayout
@inherits PaymentResultBase

<h3>PaymentResult</h3>

<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6">
                @if (@paymentResponse.Success)
                {
                    <text>Giao dịch thành công</text>
                }
                else
                {
                    <text>Giao dịch thất bại</text>
                }
            </MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudText>@paymentResponse.OrderDescription</MudText>
        <MudText>@paymentResponse.TransactionId</MudText>
        <MudText>@paymentResponse.OrderId</MudText>
        <MudText>@paymentResponse.PaymentMethod</MudText>
        <MudText>@paymentResponse.PaymentId</MudText>
        <MudText>@paymentResponse.Token</MudText>
        <MudText>@paymentResponse.VnPayResponseCode</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Read More</MudButton>
    </MudCardActions>
</MudCard>